In [1]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
all_data = pd.read_csv(uri)

In [2]:
map = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprado"
}

all_data = all_data.rename(columns = map)
x = all_data[["principal", "como_funciona", "contato"]]
y = all_data["comprado"]

In [3]:
x

    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
94          0              0        1
95          1              1        1
96          0              0        1
97          0              1        0
98          0              0        0

[99 rows x 3 columns]

In [4]:
y

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprado, Length: 99, dtype: int64

In [5]:
all_data.shape

(99, 4)

In [6]:
training_x = x[:75]
training_y = y[:75]
test_x = x[75:]
test_y = y[75:]

print("Training with %d elements and testing with %d elements" %(len(training_x), len(test_x)))

Training with 75 elements and testing with 24 elements

In [7]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [8]:
SEED = 20


training_x, test_x, training_y, test_y = train_test_split(x,y, random_state=SEED ,test_size = 0.25, stratify = y)
print("Training with %d elements and testing with %d elements" %(len(training_x), len(test_x)))

t_model = LinearSVC()
t_model.fit(training_x, training_y)
predictions = t_model.predict(test_x)

accuracy = accuracy_score(test_y, predictions)* 100
print("The acurracy is: %.2f%%"% accuracy)

Training with 74 elements and testing with 25 elements
The acurracy is: 96.00%

In [11]:
test_y.value_counts()

0    17
1     8
Name: comprado, dtype: int64

In [12]:
training_y.value_counts()

0    49
1    25
Name: comprado, dtype: int64